################### config list ################### 
BASEDIR=$(dirname $0)

##------- pool settings -------## 
pool_num=5
pool_name_prefix=test
pg_num_per_pool=32
pool_size=2

##------- test settings -------## 
result_dir=result_dir

# unit is second
time_per_test=150

block_size_list=(1M 4M)
rados_thread_num=256
rados_process_num=2

# email config
info_email=xxx@xxx.com

# qos config
qos_file_name=qos_configs.csv

# fio config
rbd_size=256G
rbd_name_prefix=rbd
fio_iodepth=128 # suggested using 16
fio_rw_mode=write # just test 'write' mode currently
fio_client_name=admin # default client
fio_numjobs=4
